.header__lang-link {
  font-family: "Inter", serif, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.166;
  text-align: right;
  color: #FFFFFF;
  grid-area: header__lang-link_type_en;
  margin-top: auto;
}

.header__lang-link:nth-of-type(2) {
  text-decoration: none;
  grid-area: header__lang-link_type_es;
}

@media only screen and (max-width: 767px){
  .header__lang-link {
    font-size: 18px;
    line-height: calc(20 / 18);
  }
}
