.place__title {
 width: 460px;
  font-family: Inter, sans-serif, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(76 / 72);
  color: #FFFFFF;
  margin: 0;
}

@media only screen and (max-width: 1279px) and (min-width: 1024px){
  .place__title {
    width: 460px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: calc(46 / 42);
  }
}

@media only screen and (max-width: 767px){
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: calc(35 / 32);
  }
}
