.page {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 1279px){
  .page {
    max-width: 100%;
  }
}
