.header {
  width: 984px;
  padding-top: 34px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 190px 1fr 29px 18px 27px;
  grid-template-areas:
  "header__logo . header__lang-link_type_en . header__lang-link_type_es";
}

@media only screen and (max-width: 1279px) and (min-width: 1024px){
  .header {
    max-width: 928px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
  .header {
    max-width: 720px;
  }
}

@media only screen and (max-width: 767px){
  .header {
    max-width: 288px;
    grid-template-columns: 156px 1fr 22px 18px 21px;
  }
}
