.header {
  min-width: 984px;
  min-height: 44px;
  margin-top: 34px;
  display: grid;
  grid-template-columns: 190px 1fr 29px 18px 27px;
  grid-template-areas:
  "header__logo . header__lang-link_type_en . header__lang-link_type_es";
}
