.header {
  width: 984px;
  padding-top: 34px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 190px 1fr 29px 18px 27px;
  grid-template-areas:
  "header__logo . header__lang-link_type_en . header__lang-link_type_es";
}
