.lead__title {
  margin: 0;
  width: 720px;
  height: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(100 / 96);
  text-align: center;
  color: #FFFFFF;
}
