.place__paragraph {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 25px 0 0;
}

.place__paragraph:first-of-type {
  margin-top: 48px;
}
