.place__paragraph {
  max-width: 100%;
  font-family: Inter, serif, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 25px 0 0;
}

.place__paragraph:first-of-type {
  margin-top: 48px;
}


@media only screen and (max-width: 1023px) and (min-width: 768px){
  .place__paragraph {
    font-size: 16px;
    line-height: 163%
  }
}

@media only screen and (max-width: 767px){
  .place__paragraph {
    font-size: 16px;
    line-height: 163%
  }
}
