.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #FFFDFD;
  margin: 2px 0 0;
  grid-column: -1;
  text-align: right;
}
