.intro__list-text {
  font-family: Inter, sans-serif, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
}


.intro__list-text:only-child {
  font-weight: normal;
}

