.place__link {
  width: 100%;
  font-family: Inter, sans-serif, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 12px 0 0;
}

.place__link:hover {
  opacity: .8;
}

