.header__lang-link_type_es {
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.166;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  grid-area: header__lang-link_type_es;
  margin-top: 16px;
}
